<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
      <property name="jndiName" value="jdbc/test"></property>
      <property name="lookupOnStartup" value="true"></property>
      <property name="cache" value="true"></property>
      <property name="proxyInterface" value="javax.sql.DataSource"></property>
    </bean>
     

    <!--
    <bean id="jndiTemplatePba" class="org.springframework.jndi.JndiTemplate">
        <property name="environment">
            <props>
                <prop key="java.naming.factory.initial">com.sun.jndi.fscontext.RefFSContextFactory</prop>
                <prop key="java.naming.provider.url">file:/nx1</prop>
                <prop key="java.naming.security.authentication">none</prop>
            </props>
        </property>
    </bean>
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate" ref="jndiTemplatePba" />
        <property name="jndiName" value="nx1DevDataSourceFisicas" />
    </bean>
     -->

    <!--
    <jdbc:embedded-database id="dataSource" type="HSQL">
        <jdbc:script location="classpath:security-schema.sql"/>
        <jdbc:script location="classpath:test-data.sql"/>
    </jdbc:embedded-database>
     -->

<!--    <bean id="dataSource"
        class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost/test?autoReconnect=true"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>

        <property name="minPoolSize" value="7"/>
        <property name="maxPoolSize" value="14"/>
        <property name="maxStatements" value="24"/>
        <property name="acquireIncrement" value="1"/>

        <property name="idleConnectionTestPeriod" value="3600"/>  
        <property name="checkoutTimeout" value="60000"/>  

        <property name="maxIdleTime" value="3600"/>   
        <property name="maxConnectionAge" value="7200"/>  
    </bean>-->

    <bean id="b001" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="mx.com.mxartesano.base.persistence" />
    </bean>
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation"  value="classpath:mybatis-configuration.xml" />
        <property name="mapperLocations" value="classpath:myBatis/**/*.xml" /> <!-- aqui se pueden usar comodines como *.xml --> 
    </bean>

    
</beans>